  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    background-image: url("../assets/sun.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1.7rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
    background-image: url("../assets/moon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
  }